<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>
<body>

<header class="thnr__header">
    <div class="thnr__nav-left thnr__main-nav">
        <span class="thnr__about-us thnr__nav-button button button--ujarak">
            about us
        </span>
        <span class="thnr__gallery thnr__nav-button button button--ujarak">
            gallery
        </span>
    </div>
    <div class="thnr__main-logo">
        TheNailsRoom
    </div>
    <div class="thnr__nav-left thnr__main-nav">
        <span class="thnr__pricelist thnr__nav-button button button--ujarak">
            pricelist
        </span>
        <span class="thnr__contacts thnr__nav-button button button--ujarak">
            contacts
        </span>
    </div>
</header>

<div class="thnr__content">
    <div class="thnr__main-page thnr__page clearfix" id="thnr__main-page">
        <div class="thnr__main-photo-wrap">
            <div class="thnr__main-photo"></div>
            <div class="thnr__main-photo-shadow"></div>
        </div>
        <div class="thnr__main-text-wrap">
            <div class="thnr__main-quote">
                <div class="thnr__quote-message">«У вас не будет второго шанса произвести первое впечатление»</div>
                <div class="thnr__quote-author">&#169; Коко Шанель</div>

                <div class="thnr__info-block">
                    <div>Индивидуальный инструмент</div>
                    <div>Гарантия на работу 21 день.</div>
                    <div>Запись по телефону:</div>
                    <div>(093)8017626 </div>
                    <div>(096)7645886</div>
                </div>
            </div>
        </div>
        <a class="thnr__bottom-anchor" href="#thnr__gallery-page"></a>
    </div>

    <div class="thnr__gallery-page thnr__page" id="thnr__gallery-page">
        222
    </div>

    <div></div>
</div>



</body>
</html>
