<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body class="thnr">

<header class="thnr__header clearfix">
    <div class="thnr__main-logo">
        TheNailRoom
    </div>
    <div class="thnr__header-burger">
        BB
    </div>
    <div class="thnr__nav-left thnr__main-nav">
        <div class="thnr__main-nav-cont">
            <span class="thnr__about-us thnr__nav-button button button--ujarak">
                Главная
            </span>
            <span class="thnr__gallery thnr__nav-button button button--ujarak">
                Галлерея
            </span>
            <span class="thnr__contacts thnr__nav-button button button--ujarak">
                О нас
            </span>
            <span class="thnr__contacts thnr__nav-button button button--ujarak">
                Контакты
            </span>
            <span class="thnr__header-phone">
            <div>(093)8017626 </div>
            <div>(096)7645886</div>
        </span>
        </div>

    </div>
</header>

<div class="thnr__content">
    <div class="thnr__main-page thnr__page clearfix" id="thnr__main-page">
        <div class="thnr__main-photo-wrap">
            <div class="thnr__main-photo"></div>
            <div class="thnr__main-photo-shadow"></div>
        </div>
        <div class="thnr__main-text-wrap">
            <div class="thnr__text-content">
                <div class="thnr__main-logo-wrap">
                    <!--<div class="thnr__add-title">Студия ногтевой эстетики</div>-->
                    <div class="thnr__main-logo">TheNailRoom</div>
                    <div class="thnr__main-btn-wrap">
                        <span class="button button-main button--ujarak">
                            Прайслист
                        </span>
                            <span class="button button-main button--ujarak">
                            Галлерея
                        </span>
                    </div>
                </div>
            </div>
            <div class="thnr__main-quote">
                <div class="thnr__quote-message">«У вас не будет второго шанса произвести первое впечатление»</div>
                <div class="thnr__quote-author">&#169; Коко Шанель</div>

                <div class="thnr__info-block">

                    <div>Индивидуальный инструмент</div>
                    <div>Гарантия на работу 21 день.</div>
                    <!--<div>Запись по телефону:</div>-->
                    <!--<div>(093)8017626 &nbsp;&nbsp;&nbsp; (096)7645886</div>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__gallery-page"></a>
    </div>

    <div class="thnr__gallery-page thnr__page" id="thnr__gallery-page">
        222
    </div>

    <div></div>
</div>



</body>
</html>
