<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body class="thnr">

<header class="thnr__header clearfix">
    <div class="thnr__main-logo">
        TheNailRoom
    </div>
    <div class="thnr__header-burger">
        <div>&mdash;</div>
        <div>&mdash;</div>
        <div>&mdash;</div>
    </div>
    <div class="thnr__nav-left thnr__main-nav">
        <div class="thnr__main-nav-cont">
            <a href="#thnr__main-page"><span class="thnr__about-us thnr__nav-button button button--ujarak">
                Главная
            </span>
            </a>
            <a href="#thnr__gallery-page"><span class="thnr__gallery thnr__nav-button button button--ujarak">
                Галлерея
            </span>
            </a>
            <a href="#thnr__about"><span class="thnr__contacts thnr__nav-button button button--ujarak">
                О нас
            </span>
            </a>
            <a href="#thnr__contact-us"><span class="thnr__contacts thnr__nav-button button button--ujarak">
                Контакты
            </span>
            </a>
            <span class="thnr__header-phone">
            <div>(093)8017626 </div>
            <div>(096)7645886</div>
        </span>
        </div>

    </div>
</header>

<div class="thnr__content">
    <div class="thnr__main-page thnr__page clearfix" id="thnr__main-page">
        <div class="thnr__main-photo-wrap">
            <div class="thnr__main-photo"></div>
            <div class="thnr__main-photo-shadow"></div>
        </div>
        <div class="thnr__main-text-wrap">
            <div class="thnr__text-content">
                <div class="thnr__main-logo-wrap">
                    <!--<div class="thnr__add-title">Студия ногтевой эстетики</div>-->
                    <div class="thnr__main-logo">TheNailRoom</div>
                    <div class="thnr__main-btn-wrap">
                        <span class="button button-main button--ujarak">
                            Прайслист
                        </span>
                            <span class="button button-main button--ujarak">
                            Галлерея
                        </span>
                    </div>
                </div>
            </div>
            <div class="thnr__main-quote">
                <div class="thnr__quote-message">«У вас не будет второго шанса произвести первое впечатление»</div>
                <div class="thnr__quote-author">&#169; Коко Шанель</div>

                <div class="thnr__info-block">

                    <div>Индивидуальный инструмент</div>
                    <div>Гарантия на работу 21 день.</div>
                    <!--<div>Запись по телефону:</div>-->
                    <!--<div>(093)8017626 &nbsp;&nbsp;&nbsp; (096)7645886</div>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__gallery-page"></a>
    </div>

    <div class="thnr__gallery-page thnr__page" id="thnr__gallery-page">
        <h1 class="thnr__title">Наши работы</h1>
        <div class="slick-gal-wrap">
            <div class="thnr__gal-item">
                <img src="img/photos/1.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/2.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/3.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/4.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/5.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/6.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/7.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/8.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/9.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/10.jpg" alt="">
            </div>
        </div>
        <div class="thnr__slick-for">
            <div class="thnr__gal-item">
                <img src="img/photos/1.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/2.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/3.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/4.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/5.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/6.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/7.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/8.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/9.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/10.jpg" alt="">
            </div>
        </div>
        <a class="thnr__bottom-anchor thnr__bottom-anchor_lower" href="#thnr__about"></a>
    </div>


    <div class='thnr__about thnr__page' id='thnr__about'>
        <h1 class="thnr__title">О Нас</h1>
        <div class="thnr__about__wrap">
            <div class='thnr__about__item active'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Анна</span>
                    <span class="thnr__master-annotation">Мастер маникюра с 10-тилетним стажем.</span>
                    <div class="thnr__master-description">
                        Моделирования искусственных ногтей(гель и акрил), маникюр(традиционный и французкий необрезной),
                        покрытие ногтей гельлаком,
                        коррекция и уход за ногтевой пластиной.
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Евгения</span>
                    <span class="thnr__master-annotation">Мастер маникюра, педикюра, бровист.</span>
                    <div class="thnr__master-description">

                        Маникюр и Педикюр(традиционный и французкий необрезной),
                        покрытие ногтей гельлаком,
                        коррекция и уход за ногтевой пластиной.
                        Коррекция бровей.

                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Кристина</span>
                    <div class="thnr__master-description">
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Анна</span>
                    <div class="thnr__master-description">
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Альбина</span>
                    <div class="thnr__master-description">
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <img class='thnr__about__img' src="img/image5.png">
                    <div class="thnr__img-hover">
                        <span>нажмите чтоб узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Яна</span>
                    <div class="thnr__master-description">
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__pricelist"></a>
    </div>


    <div class='thnr__pricelist thnr__page' id='thnr__pricelist'>

        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__contact-us"></a>
    </div>


    <div class='thnr__contact-us thnr__page' id='thnr__contact-us'>
        <div class='thnr__contact-us__container'>
        <h1 class="thnr__title thnr__contact-us__title">Наши контакты</h1>
        <div class='thnr__container-small__phones'>
        <div class='thnr__container-small'>
            <img class='thnr__contact-us__icon'src='img/telephone.png'>
            <div class='thnr__contact-us__content'>
                <div>(093)8017626</div>
                <div>(096)7645886</div>
            </div>
        </div>   
        </div>
        
        <div class='thnr__container-small thnr__container-small__address'>
            <img class='thnr__contact-us__icon' src='img/location.png'>
            <div class='thnr__contact-us__content'>
                <div class='thnr__address'><div class='thnr__contact-us_bold thnr__contact-us_bold_red'>метро Берестейская</div>
                проспект Победы, 80/57</div>
            <div class='thnr__address'><div class='thnr__contact-us_bold thnr__contact-us_bold_red'>метро Крещатик</div>
            улица Лютеранская, 13</div>
            </div>
        </div>


        <div class='thnr__container-small thnr__container-small__schedule'>
            <img  class='thnr__contact-us__icon'
            src='img/clock.png'>
            <div class='thnr__contact-us__content'>
                <div class='thnr__contact-us_bold thnr__contact-us_bold_red'>Режим работы:</div>
                <div><span class='thnr__contact-us_bold'>Пн.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Вт.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Ср.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Чт.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Пт.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Сб.</span> 08.00 - 22.00</div>
                <div><span class='thnr__contact-us_bold'>Вс.</span> 08.00 - 22.00</div>
            </div>
        </div>
            <div class='thnr__container-small__social'>
            <div class='thnr__container-small'>
                <img class='thnr__contact-us__icon' src='img/facebook.png'>
                <div class='thnr__contact-us__content'>
                    <a href="http://facebook.com/thenailroomkyiv">facebook.com/thenailroomkyiv</a>
                </div>
            </div>
            <div class='thnr__container-small'>
                <img class='thnr__contact-us__icon' src='img/insta.png'>
                <div class='thnr__contact-us__content'>
                    <a href='http://instagram.com/thenailroomkyiv'>instagram.com/thenailroomkyiv</a>
                </div>
            </div>
        </div>
        </div>

        <div id="thnr__map"></div>

        <div class="clearfix"></div>
        
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCg1QFWilivH4szSAkVTTK9BQXax5dazf8"></script>
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg1QFWilivH4szSAkVTTK9BQXax5dazf8&callback=initMap"
async defer></script-->
</body>
</html>
