.thnr__about {
    &__wrap {
        width: 85%;
        margin-left: 10%;
        padding-top: 10%;
    }
    &__item {
        display: inline-block;
        vertical-align: top;
        &.active {
            .thnr__about__img {
                width: 210px;
                height: 210px;
                border: 10px solid $color-pink;
                -webkit-filter: none;
                filter: none;
                margin-right: 20px;
                margin-left: 20px;
            }
            .thnr__about__description {
                font-size: 17px;
                width: 230px;
                & > span {
                    font-size: 19px;
                    text-align: center;
                }
            }
        }
    }
    &__description {
        font-size: 9px;
        width: 120px;
        padding-left: 5px;
        padding-top: 10px;
        & > span {
            color: $color-basic-red;
            font-size: 11px;
            font-weight: bold;
        }
    }
    &__img {
        width: 140px;
        height: 140px;
        border: 7px solid $color-pink;
        border-radius: 50%;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
    
}

.thnr {
    &__img-wrap {
        height: 210px;
        position: relative;
    }
    &__about__img {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
