#thnr__map {
    width: 70%;
    height: 88%;
    float: right;

}

.thnr {
    &__contact-us {
        padding: 11% 1% 1% 1%;
        &__container {  
            float: left;  
            width: 30%;
            height: 88%;
            text-align: left;
            line-height: 1.5;
        } 
        &__icon {
            display: inline-block;
            margin: 0 1% 0 0;
        } 
        &_bold {
            font-weight: 700;
            &_red {
            color: $color-basic-red;
            }
        }
        &__content {
            display: inline-block;
            vertical-align: top;
        }
    }
    &__container-small {
        clear: right;
    }
   
}
