.thnr {
  &__gallery-page {
    padding: 10% 30px 0;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    min-height: auto;
    position: relative;
  }
  &__gal-item {
    display: inline-block;
    color: black;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  &__slick-for {
    height: 15%;
    margin: 30px auto;
    width: 70%;
    background-color: black;
    text-align: center;
    .thnr__gal-item {
      box-shadow: 1px 1px 10px rgba(255, 255, 255, .4);
      img  {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        border-radius: 6px;
      }
    }
    .slick-arrow {
      border: 10px solid transparent;
      &.slick-prev {
        left: -60px;
        z-index: 100;
        content: '<';
        border-right: 10px solid $color-pink;
      }
      &.slick-next {
        right: -60px;
        z-index: 100;
        content: '>';
        border-left: 10px solid $color-pink;
      }
    }

  }
}

.slick {
  &-slide {
    margin: 10px;
  }
  &-dots {
    font-size: 0;
    margin: 10px auto;
    li {
      display: inline-block;
      button {
        font-size: 0;
        height: 6px;
        width: 6px;
        background-color: $color-pink;
        border-radius: 3px;
        margin: 4px;
      }
      &.slick-active {
        button {
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background-color: white;
        }
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    background-color: black;
    border: 20px solid transparent;
    &.slick-prev {
      left: -20px;
      z-index: 100;
      content: '<';
      border-right: 20px solid $color-pink;
    }
    &.slick-next {
      right: -20px;
      z-index: 100;
      content: '>';
      border-left: 20px solid $color-pink;
    }
  }
  &-gal-wrap {
    height: 70%;
    width: 70%;
    margin: 0 auto;
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      top: 0;
      border-radius: 8px;
    }
  }
}