.thnr {

  &__header {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #999;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  &__header-burger {
    display: none;
  }
  &__main-logo {
    display: inline-block;
    line-height: 60px;
    font-family: 'Homework', 'Annie Use Your Telescope', cursive;
    font-size: 40px;
    color: $color-basic-red;
    text-align: center;
    width: 28%;
    vertical-align: middle;
  }
  &__main-nav-cont {
    display: inline-block;
    width: 100%;
  }
  &__main-nav {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: right;
    padding-right: 5%;
  }
  &__header-phone {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    margin: 5px;
    letter-spacing: 2px;
  }
  &__nav-button {
    &.button {
      margin: 5px 1%;
      min-width: 120px;
    }

  }
}