@media (max-width: 1200px) {
  .thnr {
    &__main-nav {
      padding-right: 0;
    }
  }
}

@media (max-width: 990px) {
  .thnr {
    &__header {
      .button {
        margin: 5px 1%;
        padding: 5px 15px;
        min-width: 0;
      }
    }
    &__main-nav {
      width: 74%;
    }
    &__main-logo {
      width: 20%;
    }
  }
}

@media (max-width: 767px) {
  .thnr {
    &__header {
      position: fixed;
      background-color: rgba(0,0,0,.8);
      height: 50px;
      box-sizing: border-box;
      z-index: 200;
      padding: 0;
      .thnr__main-nav {
        position: absolute;
        top: -230px;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.8);
        margin: 0 auto;
        width: 100%;
        transition: 1s;
      }
      &.opened {
        .thnr__main-nav {
          display: block;
          top: 50px;
          z-index: 100;
        }
      }
    }
    &__header-burger {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 200;
      color: $color-pink;
      line-height: 6px;
      font-size: 20px;
    }

    &__main-logo {
      display: block;
      width: 100%;
      line-height: 49px;
      position: relative;
      z-index: 200;
      background-color: $color-black;
    }

    &__nav-button {
      &.button {
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color-pink;
        font-size: 14px;
        padding: 12px 0;
        margin: 0;
      }
    }
    &__main-nav-cont {
      text-align: center;
    }
    &__nav-left {
      width: 90%;
    }

  }
}