@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');

.thnr {
  font-family: 'Montserrat', sans-serif;
  color: $color-pink;
  &__page {
    position: relative;
    text-align: center;
  }
  &__title {
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    padding: 0;
    margin: 0 auto 20px;
    border-bottom: 1px solid $color-pink;
  }
}

a {
  text-decoration: none;
  color: inherit;
}